extends ../layout


block style
  include ../includes/style
block sidebar
  include ../blocks/sidebar
block foot
  include ../blocks/foot
block content
   .container.content
     .row 
       h2.title #{article.title}
             span.subtitle #{article.subtitle}
       p.publish-time(title="#{article.publishtime}") #{article.publishtime}
       .textbody(style="height:900px;border:1px solid #0094ff")  !{article.articlebody}
     .aboutme.row
      .col-sm-9
       h3.pull-left 关于我
       .clear
       p 90年后 码农
      .col-sm-3
        h3.pull-right 分享这篇文章
        .clear
